#dropdownCriteria{
    padding: 1rem;
    color: #2478b7;
    border: 2px solid black;
    font-weight: bold;
}
#searchInput{
    padding: 1rem;
    border: 2px solid black;
    border-left: none;
    width: 30rem;
}